# db
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_BATCH_SIZE=
DB_MAX_CONCURRENT=
DB_CONN_LIMIT=

# redis
REDIS_HOST=
REDIS_PORT=

# opensearch
OPENSEARCH_NODE=
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=

# file path
IMDB_DATASETS=

# task
TASK_MAIN_QUEUE=
TASK_HOLD_QUEUE=
TASK_PRIMARY_DONE_KEY=
TASK_MAX_WORKERS=
TASK_MAX_RETRY=
TASK_BATCH_SIZE=
TASK_MAX_QUEUE_SIZE=
